.root {
  padding: 0 80px;
  height: 100vh;
  overflow-y: auto;
  flex: 1;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #2D1F3F;
  margin: 70px 0 50px 0;
}

.fileIcon {
  margin-right: 20px;
  float: left;
}

.content {
  padding-bottom: 70px;
}

.none {
  margin-top: 75px;
  font-size: 18px;
}
